{% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="You can follow all the news of real estate, contracting and finishing, and you can view our services" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta name="color-scheme" content="dark">
    <!-- <link rel="icon" href="{% static 'img/icontitle.png' %}" type="image/x-icon"> -->
    <meta name="theme-color" content="#FF9800" />
    {% block title %}
    <title>Elyassin</title>
    {% endblock %}
